.pack-component {
  display: block;
  margin: 2.5%;
  text-decoration: none;
}
.pack-component:hover .content-wrapper {
  background-color: #48484b;
}
.pack-component .content-wrapper {
  background-color: #343437;
  padding: 0 1.5%;
  border: white solid 1px;
  border-radius: 20px;
}
.pack-component .content-wrapper p {
  color: white;
}
.pack-component .content-header {
  display: flex;
  align-items: center;
}
.pack-component .content-header h1 {
  flex: 1;
  color: #c64fbd;
}
.pack-component .options:hover .options-content {
  display: block;
}
.pack-component .options-content {
  display: none;
  position: absolute;
  z-index: 1;
}
.pack-component .options-content button {
  box-shadow: none;
  border: black solid 1px;
  background-color: white;
  color: red;
  width: 100px;
  padding: 5%;
  font-weight: bold;
  border-radius: 5px;
  transition-duration: 0.3s;
}
.pack-component .options-content button:hover {
  background-color: red;
  color: white;
  transition-duration: 0.3s;
  cursor: pointer;
}
