#resource-pack-models-page h1 {
  color: #55FFFF;
}
#resource-pack-models-page p {
  color: white;
}
#resource-pack-models-page button {
  border: none;
  outline: none;
  color: white;
  background-color: Transparent;
}
#resource-pack-models-page button:hover {
  cursor: pointer;
}
#resource-pack-models-page .model {
  list-style-type: none;
  padding: 0;
}
#resource-pack-models-page .model li {
  position: relative;
  background-color: #343437;
  padding: 0 1.5%;
  border: white solid 1px;
  border-radius: 20px;
  float: left;
  width: 15%;
  height: 250px;
  margin: 0.9%;
}
#resource-pack-models-page .model img {
  display: block;
  max-width: 100%;
  max-height: 145px;
  margin: auto;
}
#resource-pack-models-page .model p {
  position: absolute;
  bottom: 0;
  left: 7.5%;
  color: white;
}
#resource-pack-models-page .model .top {
  display: flex;
}
#resource-pack-models-page .model .top h1 {
  flex: 1;
  color: #55FFFF;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: calc(80%);
  overflow: hidden;
  font-size: 1.5em;
}
#resource-pack-models-page .model .top i:hover {
  cursor: pointer;
}
#resource-pack-models-page .model .top .options {
  display: inline-block;
  position: relative;
  margin-top: 8.5%;
}
#resource-pack-models-page .model .top .options:hover .options-content {
  display: block;
}
#resource-pack-models-page .model .top .options-content {
  display: none;
  position: absolute;
  z-index: 1;
}
#resource-pack-models-page .model .top .options-content button {
  box-shadow: none;
  border: black solid 1px;
  background-color: white;
  color: red;
  width: 100px;
  padding: 5%;
  font-weight: bold;
  border-radius: 5px;
  transition-duration: 0.3s;
}
#resource-pack-models-page .model .top .options-content button:hover {
  background-color: red;
  color: white;
  transition-duration: 0.3s;
  cursor: pointer;
}
#pack-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
#pack-page h1 {
  color: #55FFFF;
}
#pack-page p {
  color: white;
}
.pack-component {
  display: block;
  margin: 2.5%;
  text-decoration: none;
}
.pack-component:hover .content-wrapper {
  background-color: #48484b;
}
.pack-component .content-wrapper {
  background-color: #343437;
  padding: 0 1.5%;
  border: white solid 1px;
  border-radius: 20px;
}
.pack-component .content-header {
  display: flex;
  align-items: center;
}
.pack-component .content-header h1 {
  flex: 1;
}
.pack-component .options:hover .options-content {
  display: block;
}
.pack-component .options-content {
  display: none;
  position: absolute;
  z-index: 1;
}
.pack-component .options-content button {
  box-shadow: none;
  border: black solid 1px;
  background-color: white;
  color: red;
  width: 100px;
  padding: 5%;
  font-weight: bold;
  border-radius: 5px;
  transition-duration: 0.3s;
}
.pack-component .options-content button:hover {
  background-color: red;
  color: white;
  transition-duration: 0.3s;
  cursor: pointer;
}
.new-pack-modal-button {
  border: none;
  background: none;
  color: black;
  font-size: 10vw;
  padding: 0 1%;
  outline: none;
}
.new-pack-modal-button:hover {
  color: #c64fbd;
  cursor: pointer;
}
.new-pack-modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}
.new-pack-modal form {
  background-color: #343437;
  margin: 15% auto;
  padding: 20px;
  width: 60%;
  display: flex;
}
.new-pack-modal form input {
  font-family: "Courier New", monospace;
  font-weight: bold;
  flex: 1 1 auto;
  border: none;
  font-size: 2.5vw;
  padding: 1%;
  outline: none;
}
.new-pack-modal form input#submit {
  background-color: #343437;
  color: #c64fbd;
}
.new-pack-modal form input#submit:hover {
  background-color: #48484b;
  cursor: pointer;
}
header {
  display: flex;
  align-items: center;
  flex-direction: row;
}
header * {
  flex: 1;
}
header .title {
  flex-grow: 0.4;
}
header .page-options a {
  color: white;
  margin-right: 10%;
  font-weight: bold;
}
header .page-options a:before {
  content: "|";
  margin-right: 1%;
}
header .page-options a:hover {
  color: #c64fbd;
}
header .user-options {
  flex-grow: 0;
  cursor: pointer;
  z-index: 1;
}
header .user-options:hover .user-options-content {
  display: block;
}
header .user-options .user-options-button {
  display: flex;
  align-items: center;
}
header .user-options .user-options-button .dropdown-arrow {
  color: gray;
  content: "";
  border-top-style: solid;
  border-top-width: 10px;
  border-right: 7px solid transparent;
  border-bottom: 0 solid transparent;
  border-left: 7px solid transparent;
}
header .user-options .user-options-button img {
  margin-left: 10%;
  border: #41444e solid 2px;
  border-radius: 100%;
  width: 50px;
  height: 50px;
}
header .user-options .user-options-content {
  float: right;
  right: 10%;
  display: none;
  border-radius: 20px;
  background-color: #21262d;
  border: #41444e solid 1px;
  position: absolute;
  padding: 1% 0;
  width: 250px;
}
header .user-options .user-options-content .spacer {
  height: 1px;
  background: #41444e;
  margin: 10px 0;
}
header .user-options .user-options-content a {
  display: block;
  padding: 0 5%;
  color: white;
  text-decoration: none;
}
header .user-options .user-options-content a:nth-child(n + 2):hover {
  background: #0087b0;
}
#index {
  overflow: hidden;
  margin: 0;
}
#stars1 {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 155px 592px #FFF, 418px 1720px #FFF, 1401px 1888px #FFF, 844px 1517px #FFF, 1711px 1434px #FFF, 1911px 816px #FFF, 607px 366px #FFF, 1341px 862px #FFF, 1025px 622px #FFF, 253px 1356px #FFF, 1320px 568px #FFF, 1258px 105px #FFF, 1831px 1381px #FFF, 576px 312px #FFF, 35px 477px #FFF, 1321px 1265px #FFF, 572px 718px #FFF, 317px 454px #FFF, 761px 1331px #FFF, 1155px 904px #FFF, 1933px 479px #FFF, 1022px 663px #FFF, 1009px 17px #FFF, 1577px 909px #FFF, 1839px 1402px #FFF, 508px 1296px #FFF, 331px 1516px #FFF, 1980px 1982px #FFF, 598px 988px #FFF, 297px 394px #FFF, 500px 42px #FFF, 1063px 1429px #FFF, 1781px 1268px #FFF, 1172px 1048px #FFF, 1701px 211px #FFF, 311px 271px #FFF, 1913px 608px #FFF, 1560px 1472px #FFF, 1456px 754px #FFF, 1192px 65px #FFF, 1186px 1608px #FFF, 640px 1969px #FFF, 131px 1727px #FFF, 144px 441px #FFF, 1850px 190px #FFF, 1493px 793px #FFF, 240px 1624px #FFF, 169px 337px #FFF, 841px 1400px #FFF, 1508px 1374px #FFF, 955px 855px #FFF, 1609px 1854px #FFF, 1231px 1043px #FFF, 290px 973px #FFF, 1296px 59px #FFF, 1735px 603px #FFF, 1134px 1710px #FFF, 1044px 342px #FFF, 1011px 424px #FFF, 846px 1849px #FFF, 880px 849px #FFF, 316px 379px #FFF, 321px 172px #FFF, 964px 1876px #FFF, 466px 18px #FFF, 1636px 1495px #FFF, 1910px 1105px #FFF, 1263px 820px #FFF, 1292px 1431px #FFF, 1798px 1318px #FFF, 610px 244px #FFF, 385px 342px #FFF, 1079px 1620px #FFF, 1798px 1872px #FFF, 1717px 1208px #FFF, 33px 59px #FFF, 352px 1024px #FFF, 1406px 488px #FFF, 997px 1975px #FFF, 198px 1333px #FFF, 1525px 284px #FFF, 1350px 1660px #FFF, 786px 592px #FFF, 706px 1788px #FFF, 599px 327px #FFF, 1911px 105px #FFF, 1782px 1848px #FFF, 454px 2000px #FFF, 1281px 1426px #FFF, 1739px 989px #FFF, 1963px 504px #FFF, 173px 59px #FFF, 974px 515px #FFF, 588px 1853px #FFF, 612px 1225px #FFF, 1642px 1978px #FFF, 23px 787px #FFF, 442px 1105px #FFF, 1335px 696px #FFF, 1364px 47px #FFF, 1421px 449px #FFF, 1517px 1915px #FFF, 1026px 300px #FFF, 583px 390px #FFF, 1532px 1696px #FFF, 1706px 1983px #FFF, 1772px 76px #FFF, 1836px 1754px #FFF, 95px 1320px #FFF, 1231px 1903px #FFF, 1149px 1524px #FFF, 924px 489px #FFF, 1479px 1458px #FFF, 1496px 1758px #FFF, 1605px 1830px #FFF, 35px 870px #FFF, 1602px 814px #FFF, 237px 1868px #FFF, 1770px 536px #FFF, 155px 1723px #FFF, 150px 661px #FFF, 512px 1014px #FFF, 1053px 1864px #FFF, 403px 1758px #FFF, 1671px 1362px #FFF, 1245px 422px #FFF, 1257px 581px #FFF, 739px 84px #FFF, 345px 128px #FFF, 842px 1505px #FFF, 1118px 721px #FFF, 789px 1207px #FFF, 1727px 25px #FFF, 331px 1549px #FFF, 1313px 1468px #FFF, 977px 317px #FFF, 1067px 790px #FFF, 1883px 870px #FFF, 58px 1971px #FFF, 759px 1117px #FFF, 97px 1202px #FFF, 1262px 1414px #FFF, 1069px 1772px #FFF, 1429px 1290px #FFF, 1764px 1433px #FFF, 1338px 722px #FFF, 615px 1816px #FFF, 1725px 213px #FFF, 1298px 805px #FFF, 1137px 18px #FFF, 1717px 287px #FFF, 1676px 1300px #FFF, 389px 307px #FFF, 897px 1788px #FFF, 1467px 1313px #FFF, 1175px 1495px #FFF, 289px 1787px #FFF, 538px 1974px #FFF, 534px 20px #FFF, 893px 375px #FFF, 746px 847px #FFF, 175px 1191px #FFF, 519px 1074px #FFF, 1180px 1964px #FFF, 118px 1666px #FFF, 1614px 979px #FFF, 741px 9px #FFF, 1586px 1106px #FFF, 655px 1230px #FFF, 978px 260px #FFF, 1933px 1528px #FFF, 1102px 1015px #FFF, 1872px 1497px #FFF, 1554px 1342px #FFF, 1449px 463px #FFF, 978px 183px #FFF, 1503px 1759px #FFF, 1423px 1268px #FFF, 1100px 1193px #FFF, 1664px 1657px #FFF, 446px 1361px #FFF, 155px 1986px #FFF, 1098px 1366px #FFF, 760px 89px #FFF, 1569px 583px #FFF, 1904px 272px #FFF, 56px 1281px #FFF, 1371px 1029px #FFF, 658px 541px #FFF, 1585px 503px #FFF, 969px 1730px #FFF, 431px 1106px #FFF, 448px 676px #FFF, 1113px 960px #FFF, 1981px 986px #FFF, 130px 1338px #FFF, 1429px 590px #FFF, 1868px 1670px #FFF, 1783px 1437px #FFF, 1092px 75px #FFF, 1430px 250px #FFF, 1516px 195px #FFF, 142px 1190px #FFF, 272px 1073px #FFF, 985px 90px #FFF, 757px 694px #FFF, 931px 1871px #FFF, 633px 1739px #FFF, 619px 69px #FFF, 1125px 674px #FFF, 1806px 965px #FFF, 64px 1483px #FFF, 765px 989px #FFF, 71px 1768px #FFF, 1031px 1944px #FFF, 1188px 452px #FFF, 894px 214px #FFF, 836px 344px #FFF, 726px 445px #FFF, 1728px 114px #FFF, 468px 865px #FFF, 1544px 715px #FFF, 1025px 1992px #FFF, 232px 1254px #FFF, 171px 1650px #FFF, 1940px 1540px #FFF, 1251px 745px #FFF, 1810px 164px #FFF, 963px 1465px #FFF, 1368px 1110px #FFF, 1066px 1935px #FFF, 594px 383px #FFF, 592px 1202px #FFF, 1858px 989px #FFF, 1463px 922px #FFF, 22px 1279px #FFF, 1193px 737px #FFF, 1017px 1349px #FFF, 152px 1040px #FFF, 163px 1734px #FFF, 1975px 637px #FFF, 1777px 192px #FFF, 480px 1228px #FFF, 704px 1362px #FFF, 1781px 335px #FFF, 720px 1773px #FFF, 1575px 1280px #FFF, 314px 89px #FFF, 524px 1002px #FFF, 1496px 961px #FFF, 1612px 332px #FFF, 1048px 1188px #FFF, 688px 1342px #FFF, 1131px 657px #FFF, 1484px 111px #FFF, 186px 1291px #FFF, 52px 1989px #FFF, 358px 324px #FFF, 485px 875px #FFF, 338px 956px #FFF, 478px 1628px #FFF, 146px 300px #FFF, 1094px 778px #FFF, 1409px 1263px #FFF, 483px 1479px #FFF, 1964px 252px #FFF, 57px 1055px #FFF, 1175px 1589px #FFF, 1571px 1144px #FFF, 211px 417px #FFF, 90px 1146px #FFF, 1757px 159px #FFF, 11px 802px #FFF, 1709px 213px #FFF, 1389px 231px #FFF, 537px 1671px #FFF, 170px 1509px #FFF, 1931px 812px #FFF, 1402px 1644px #FFF, 1844px 1785px #FFF, 457px 1522px #FFF, 1145px 487px #FFF, 470px 789px #FFF, 1789px 381px #FFF, 427px 1845px #FFF, 1670px 1019px #FFF, 1431px 807px #FFF, 611px 681px #FFF, 1287px 686px #FFF, 256px 82px #FFF, 1379px 432px #FFF, 629px 1403px #FFF, 1090px 1515px #FFF, 1829px 1778px #FFF, 567px 169px #FFF, 1667px 1225px #FFF, 1667px 1608px #FFF, 1328px 1458px #FFF, 851px 303px #FFF, 813px 1367px #FFF, 395px 357px #FFF, 1240px 348px #FFF, 536px 1007px #FFF, 1025px 1001px #FFF, 1289px 753px #FFF, 182px 207px #FFF, 1073px 552px #FFF, 1189px 1483px #FFF, 531px 396px #FFF, 1022px 1908px #FFF, 1337px 1555px #FFF, 1557px 1976px #FFF, 558px 1627px #FFF, 1165px 1872px #FFF, 740px 460px #FFF, 1058px 1485px #FFF, 142px 694px #FFF, 256px 1168px #FFF, 392px 1778px #FFF, 584px 1029px #FFF, 309px 10px #FFF, 1394px 1602px #FFF, 742px 678px #FFF, 1626px 1412px #FFF, 728px 320px #FFF, 916px 1196px #FFF, 1961px 436px #FFF, 234px 644px #FFF, 1341px 1048px #FFF, 1494px 1929px #FFF, 1683px 230px #FFF, 1856px 1574px #FFF, 851px 114px #FFF, 1740px 1331px #FFF, 1539px 1260px #FFF, 1256px 608px #FFF, 1490px 93px #FFF, 36px 1768px #FFF, 153px 1453px #FFF, 397px 864px #FFF, 1414px 860px #FFF, 1323px 1501px #FFF, 376px 251px #FFF, 249px 1347px #FFF, 1478px 433px #FFF, 1915px 625px #FFF, 843px 817px #FFF, 662px 1135px #FFF, 1864px 464px #FFF, 1839px 750px #FFF, 484px 1513px #FFF, 138px 1400px #FFF, 125px 882px #FFF, 945px 1872px #FFF, 182px 1055px #FFF, 1367px 1977px #FFF, 1513px 1464px #FFF, 712px 959px #FFF, 229px 1514px #FFF, 25px 474px #FFF, 1283px 1681px #FFF, 481px 1934px #FFF, 2px 1828px #FFF, 1753px 997px #FFF, 485px 725px #FFF, 1298px 207px #FFF, 1641px 1564px #FFF, 832px 1475px #FFF, 738px 480px #FFF, 716px 67px #FFF, 1484px 225px #FFF, 1230px 1320px #FFF, 500px 1763px #FFF, 188px 304px #FFF, 928px 34px #FFF, 926px 776px #FFF, 587px 294px #FFF, 40px 1440px #FFF, 1309px 209px #FFF, 504px 111px #FFF, 980px 1024px #FFF, 1300px 1506px #FFF, 390px 1518px #FFF, 1391px 826px #FFF, 1474px 1601px #FFF, 206px 1483px #FFF, 657px 497px #FFF, 1474px 1095px #FFF, 41px 1312px #FFF, 531px 1841px #FFF, 809px 597px #FFF, 974px 140px #FFF, 242px 55px #FFF, 800px 754px #FFF, 562px 597px #FFF, 1201px 1676px #FFF, 1550px 444px #FFF, 721px 1857px #FFF, 694px 821px #FFF, 1906px 1037px #FFF, 55px 261px #FFF, 871px 1901px #FFF, 1837px 1068px #FFF, 1706px 653px #FFF, 350px 913px #FFF, 714px 1003px #FFF, 64px 1095px #FFF, 778px 812px #FFF, 209px 774px #FFF, 652px 1433px #FFF, 1205px 828px #FFF, 811px 1256px #FFF, 373px 1352px #FFF, 1007px 32px #FFF, 161px 183px #FFF, 118px 1983px #FFF, 773px 799px #FFF, 1508px 1495px #FFF, 1590px 1285px #FFF, 384px 90px #FFF, 1298px 1383px #FFF, 446px 808px #FFF, 1377px 1105px #FFF, 1748px 1635px #FFF, 1289px 1700px #FFF, 549px 222px #FFF, 173px 235px #FFF, 1774px 1192px #FFF, 141px 869px #FFF, 1608px 1433px #FFF, 769px 1201px #FFF, 1614px 333px #FFF, 102px 1207px #FFF, 1909px 1573px #FFF, 321px 779px #FFF, 1207px 1830px #FFF, 852px 1898px #FFF, 73px 1580px #FFF, 1862px 1284px #FFF, 1459px 868px #FFF, 1449px 1823px #FFF, 1449px 113px #FFF, 852px 1838px #FFF, 973px 803px #FFF, 326px 1899px #FFF, 1036px 1637px #FFF, 1049px 592px #FFF, 1194px 697px #FFF, 1441px 792px #FFF, 1382px 688px #FFF, 540px 240px #FFF, 1968px 1513px #FFF, 379px 1181px #FFF, 103px 841px #FFF, 1103px 39px #FFF, 740px 1506px #FFF, 646px 1172px #FFF, 21px 1605px #FFF, 1447px 1982px #FFF, 1492px 1252px #FFF, 1814px 618px #FFF, 362px 770px #FFF, 1904px 134px #FFF, 1083px 640px #FFF, 1839px 1586px #FFF, 1220px 540px #FFF, 1144px 699px #FFF, 1942px 547px #FFF, 1726px 749px #FFF, 1921px 122px #FFF, 1933px 42px #FFF, 312px 20px #FFF, 549px 1757px #FFF, 1455px 203px #FFF, 1340px 310px #FFF, 1598px 1385px #FFF, 1177px 245px #FFF, 1568px 1730px #FFF, 1069px 1555px #FFF, 1576px 1691px #FFF, 1924px 320px #FFF, 1533px 1783px #FFF, 623px 1979px #FFF, 1857px 760px #FFF, 1615px 923px #FFF, 1848px 1321px #FFF, 1112px 1661px #FFF, 978px 1354px #FFF, 309px 1616px #FFF, 1789px 1003px #FFF, 1233px 838px #FFF, 1471px 1541px #FFF, 337px 1497px #FFF, 19px 1278px #FFF, 1777px 79px #FFF, 1952px 718px #FFF, 1650px 4px #FFF, 1681px 1130px #FFF, 970px 1406px #FFF, 1686px 1300px #FFF, 433px 310px #FFF, 433px 479px #FFF, 1476px 1220px #FFF, 898px 171px #FFF, 725px 812px #FFF, 1442px 1041px #FFF, 108px 930px #FFF, 1991px 1593px #FFF, 1206px 47px #FFF, 794px 206px #FFF, 584px 418px #FFF, 565px 397px #FFF, 73px 695px #FFF, 331px 1215px #FFF, 1545px 139px #FFF, 135px 1199px #FFF, 1519px 405px #FFF, 262px 1194px #FFF, 1623px 1903px #FFF, 557px 1964px #FFF, 638px 601px #FFF, 1861px 221px #FFF, 144px 1203px #FFF, 911px 765px #FFF, 816px 973px #FFF, 203px 1070px #FFF, 49px 1264px #FFF, 387px 1299px #FFF, 1349px 436px #FFF, 1999px 1799px #FFF, 1158px 1633px #FFF, 509px 429px #FFF, 1013px 1934px #FFF, 277px 681px #FFF, 424px 745px #FFF, 50px 796px #FFF, 1696px 1190px #FFF, 1084px 239px #FFF, 394px 319px #FFF, 1250px 1706px #FFF, 382px 403px #FFF, 1052px 1721px #FFF, 1115px 915px #FFF, 339px 117px #FFF, 1161px 495px #FFF, 361px 460px #FFF, 536px 1493px #FFF, 1364px 386px #FFF, 1024px 768px #FFF, 274px 1352px #FFF, 67px 1880px #FFF, 1525px 413px #FFF, 263px 346px #FFF, 1246px 1175px #FFF, 795px 716px #FFF, 781px 1067px #FFF, 1485px 1136px #FFF, 1209px 1970px #FFF, 552px 873px #FFF, 332px 686px #FFF, 557px 282px #FFF, 1686px 733px #FFF, 936px 1129px #FFF, 745px 684px #FFF, 774px 1270px #FFF, 1452px 1997px #FFF, 1198px 1085px #FFF, 1382px 976px #FFF, 722px 1769px #FFF, 752px 1651px #FFF, 827px 1885px #FFF, 725px 349px #FFF, 247px 206px #FFF, 980px 1728px #FFF, 287px 1281px #FFF, 444px 1019px #FFF, 1123px 501px #FFF, 956px 878px #FFF, 577px 1485px #FFF, 1160px 784px #FFF, 272px 1951px #FFF, 1179px 111px #FFF, 1799px 1019px #FFF, 628px 127px #FFF, 468px 534px #FFF, 1696px 1297px #FFF, 681px 1197px #FFF, 1341px 124px #FFF, 765px 1727px #FFF, 977px 896px #FFF, 810px 83px #FFF, 1068px 1792px #FFF, 1962px 716px #FFF, 756px 1558px #FFF, 1798px 247px #FFF, 1218px 128px #FFF, 406px 335px #FFF, 1379px 714px #FFF, 1291px 900px #FFF, 234px 1936px #FFF, 1439px 340px #FFF, 1837px 1374px #FFF, 852px 15px #FFF, 592px 1272px #FFF, 1342px 116px #FFF, 1133px 1378px #FFF, 1993px 1239px #FFF, 1153px 1891px #FFF, 1430px 1874px #FFF, 1223px 1089px #FFF, 391px 1448px #FFF, 1238px 1641px #FFF, 1878px 1251px #FFF, 1656px 1168px #FFF, 871px 939px #FFF, 493px 944px #FFF, 479px 500px #FFF, 321px 1219px #FFF, 656px 851px #FFF, 585px 1036px #FFF, 1882px 816px #FFF, 1074px 666px #FFF, 919px 947px #FFF, 180px 1663px #FFF, 183px 1927px #FFF, 722px 640px #FFF, 688px 227px #FFF, 1323px 1213px #FFF, 133px 1626px #FFF, 1068px 408px #FFF, 1426px 157px #FFF, 280px 396px #FFF, 1758px 1570px #FFF, 1163px 1387px #FFF, 401px 871px #FFF, 1327px 1909px #FFF, 1182px 499px #FFF, 151px 523px #FFF, 621px 857px #FFF, 1348px 1832px #FFF, 162px 1978px #FFF, 1430px 311px #FFF, 1164px 175px #FFF, 1405px 506px #FFF, 1989px 1946px #FFF, 881px 1707px #FFF, 291px 1775px #FFF, 382px 1814px #FFF, 657px 432px #FFF, 405px 1549px #FFF, 1742px 994px #FFF, 1479px 637px #FFF, 1717px 305px #FFF, 1009px 1184px #FFF, 1476px 322px #FFF, 920px 710px #FFF, 1641px 1016px #FFF, 1348px 1921px #FFF, 762px 1083px #FFF, 558px 1613px #FFF, 615px 1656px #FFF, 1778px 1321px #FFF, 1837px 1321px #FFF, 563px 812px #FFF, 86px 276px #FFF, 349px 970px #FFF, 825px 578px #FFF, 849px 1370px #FFF, 107px 794px #FFF, 831px 1158px #FFF, 1378px 447px #FFF, 1422px 123px #FFF, 1397px 154px #FFF, 333px 1401px #FFF, 1532px 153px #FFF, 1221px 291px #FFF, 290px 1115px #FFF, 1111px 1426px #FFF, 1166px 51px #FFF, 998px 782px #FFF, 2000px 547px #FFF, 184px 500px #FFF, 1270px 1342px #FFF, 1161px 780px #FFF, 101px 990px #FFF, 363px 303px #FFF, 1501px 902px #FFF, 435px 314px #FFF, 1894px 1637px #FFF, 897px 1427px #FFF, 968px 1464px #FFF, 174px 748px #FFF, 753px 1305px #FFF, 1100px 1291px #FFF, 1074px 805px #FFF, 794px 80px #FFF, 1179px 853px #FFF, 1038px 1771px #FFF, 232px 68px #FFF, 1317px 803px #FFF;
  animation: animStar 50s linear infinite;
}
#stars1:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 155px 592px #FFF, 418px 1720px #FFF, 1401px 1888px #FFF, 844px 1517px #FFF, 1711px 1434px #FFF, 1911px 816px #FFF, 607px 366px #FFF, 1341px 862px #FFF, 1025px 622px #FFF, 253px 1356px #FFF, 1320px 568px #FFF, 1258px 105px #FFF, 1831px 1381px #FFF, 576px 312px #FFF, 35px 477px #FFF, 1321px 1265px #FFF, 572px 718px #FFF, 317px 454px #FFF, 761px 1331px #FFF, 1155px 904px #FFF, 1933px 479px #FFF, 1022px 663px #FFF, 1009px 17px #FFF, 1577px 909px #FFF, 1839px 1402px #FFF, 508px 1296px #FFF, 331px 1516px #FFF, 1980px 1982px #FFF, 598px 988px #FFF, 297px 394px #FFF, 500px 42px #FFF, 1063px 1429px #FFF, 1781px 1268px #FFF, 1172px 1048px #FFF, 1701px 211px #FFF, 311px 271px #FFF, 1913px 608px #FFF, 1560px 1472px #FFF, 1456px 754px #FFF, 1192px 65px #FFF, 1186px 1608px #FFF, 640px 1969px #FFF, 131px 1727px #FFF, 144px 441px #FFF, 1850px 190px #FFF, 1493px 793px #FFF, 240px 1624px #FFF, 169px 337px #FFF, 841px 1400px #FFF, 1508px 1374px #FFF, 955px 855px #FFF, 1609px 1854px #FFF, 1231px 1043px #FFF, 290px 973px #FFF, 1296px 59px #FFF, 1735px 603px #FFF, 1134px 1710px #FFF, 1044px 342px #FFF, 1011px 424px #FFF, 846px 1849px #FFF, 880px 849px #FFF, 316px 379px #FFF, 321px 172px #FFF, 964px 1876px #FFF, 466px 18px #FFF, 1636px 1495px #FFF, 1910px 1105px #FFF, 1263px 820px #FFF, 1292px 1431px #FFF, 1798px 1318px #FFF, 610px 244px #FFF, 385px 342px #FFF, 1079px 1620px #FFF, 1798px 1872px #FFF, 1717px 1208px #FFF, 33px 59px #FFF, 352px 1024px #FFF, 1406px 488px #FFF, 997px 1975px #FFF, 198px 1333px #FFF, 1525px 284px #FFF, 1350px 1660px #FFF, 786px 592px #FFF, 706px 1788px #FFF, 599px 327px #FFF, 1911px 105px #FFF, 1782px 1848px #FFF, 454px 2000px #FFF, 1281px 1426px #FFF, 1739px 989px #FFF, 1963px 504px #FFF, 173px 59px #FFF, 974px 515px #FFF, 588px 1853px #FFF, 612px 1225px #FFF, 1642px 1978px #FFF, 23px 787px #FFF, 442px 1105px #FFF, 1335px 696px #FFF, 1364px 47px #FFF, 1421px 449px #FFF, 1517px 1915px #FFF, 1026px 300px #FFF, 583px 390px #FFF, 1532px 1696px #FFF, 1706px 1983px #FFF, 1772px 76px #FFF, 1836px 1754px #FFF, 95px 1320px #FFF, 1231px 1903px #FFF, 1149px 1524px #FFF, 924px 489px #FFF, 1479px 1458px #FFF, 1496px 1758px #FFF, 1605px 1830px #FFF, 35px 870px #FFF, 1602px 814px #FFF, 237px 1868px #FFF, 1770px 536px #FFF, 155px 1723px #FFF, 150px 661px #FFF, 512px 1014px #FFF, 1053px 1864px #FFF, 403px 1758px #FFF, 1671px 1362px #FFF, 1245px 422px #FFF, 1257px 581px #FFF, 739px 84px #FFF, 345px 128px #FFF, 842px 1505px #FFF, 1118px 721px #FFF, 789px 1207px #FFF, 1727px 25px #FFF, 331px 1549px #FFF, 1313px 1468px #FFF, 977px 317px #FFF, 1067px 790px #FFF, 1883px 870px #FFF, 58px 1971px #FFF, 759px 1117px #FFF, 97px 1202px #FFF, 1262px 1414px #FFF, 1069px 1772px #FFF, 1429px 1290px #FFF, 1764px 1433px #FFF, 1338px 722px #FFF, 615px 1816px #FFF, 1725px 213px #FFF, 1298px 805px #FFF, 1137px 18px #FFF, 1717px 287px #FFF, 1676px 1300px #FFF, 389px 307px #FFF, 897px 1788px #FFF, 1467px 1313px #FFF, 1175px 1495px #FFF, 289px 1787px #FFF, 538px 1974px #FFF, 534px 20px #FFF, 893px 375px #FFF, 746px 847px #FFF, 175px 1191px #FFF, 519px 1074px #FFF, 1180px 1964px #FFF, 118px 1666px #FFF, 1614px 979px #FFF, 741px 9px #FFF, 1586px 1106px #FFF, 655px 1230px #FFF, 978px 260px #FFF, 1933px 1528px #FFF, 1102px 1015px #FFF, 1872px 1497px #FFF, 1554px 1342px #FFF, 1449px 463px #FFF, 978px 183px #FFF, 1503px 1759px #FFF, 1423px 1268px #FFF, 1100px 1193px #FFF, 1664px 1657px #FFF, 446px 1361px #FFF, 155px 1986px #FFF, 1098px 1366px #FFF, 760px 89px #FFF, 1569px 583px #FFF, 1904px 272px #FFF, 56px 1281px #FFF, 1371px 1029px #FFF, 658px 541px #FFF, 1585px 503px #FFF, 969px 1730px #FFF, 431px 1106px #FFF, 448px 676px #FFF, 1113px 960px #FFF, 1981px 986px #FFF, 130px 1338px #FFF, 1429px 590px #FFF, 1868px 1670px #FFF, 1783px 1437px #FFF, 1092px 75px #FFF, 1430px 250px #FFF, 1516px 195px #FFF, 142px 1190px #FFF, 272px 1073px #FFF, 985px 90px #FFF, 757px 694px #FFF, 931px 1871px #FFF, 633px 1739px #FFF, 619px 69px #FFF, 1125px 674px #FFF, 1806px 965px #FFF, 64px 1483px #FFF, 765px 989px #FFF, 71px 1768px #FFF, 1031px 1944px #FFF, 1188px 452px #FFF, 894px 214px #FFF, 836px 344px #FFF, 726px 445px #FFF, 1728px 114px #FFF, 468px 865px #FFF, 1544px 715px #FFF, 1025px 1992px #FFF, 232px 1254px #FFF, 171px 1650px #FFF, 1940px 1540px #FFF, 1251px 745px #FFF, 1810px 164px #FFF, 963px 1465px #FFF, 1368px 1110px #FFF, 1066px 1935px #FFF, 594px 383px #FFF, 592px 1202px #FFF, 1858px 989px #FFF, 1463px 922px #FFF, 22px 1279px #FFF, 1193px 737px #FFF, 1017px 1349px #FFF, 152px 1040px #FFF, 163px 1734px #FFF, 1975px 637px #FFF, 1777px 192px #FFF, 480px 1228px #FFF, 704px 1362px #FFF, 1781px 335px #FFF, 720px 1773px #FFF, 1575px 1280px #FFF, 314px 89px #FFF, 524px 1002px #FFF, 1496px 961px #FFF, 1612px 332px #FFF, 1048px 1188px #FFF, 688px 1342px #FFF, 1131px 657px #FFF, 1484px 111px #FFF, 186px 1291px #FFF, 52px 1989px #FFF, 358px 324px #FFF, 485px 875px #FFF, 338px 956px #FFF, 478px 1628px #FFF, 146px 300px #FFF, 1094px 778px #FFF, 1409px 1263px #FFF, 483px 1479px #FFF, 1964px 252px #FFF, 57px 1055px #FFF, 1175px 1589px #FFF, 1571px 1144px #FFF, 211px 417px #FFF, 90px 1146px #FFF, 1757px 159px #FFF, 11px 802px #FFF, 1709px 213px #FFF, 1389px 231px #FFF, 537px 1671px #FFF, 170px 1509px #FFF, 1931px 812px #FFF, 1402px 1644px #FFF, 1844px 1785px #FFF, 457px 1522px #FFF, 1145px 487px #FFF, 470px 789px #FFF, 1789px 381px #FFF, 427px 1845px #FFF, 1670px 1019px #FFF, 1431px 807px #FFF, 611px 681px #FFF, 1287px 686px #FFF, 256px 82px #FFF, 1379px 432px #FFF, 629px 1403px #FFF, 1090px 1515px #FFF, 1829px 1778px #FFF, 567px 169px #FFF, 1667px 1225px #FFF, 1667px 1608px #FFF, 1328px 1458px #FFF, 851px 303px #FFF, 813px 1367px #FFF, 395px 357px #FFF, 1240px 348px #FFF, 536px 1007px #FFF, 1025px 1001px #FFF, 1289px 753px #FFF, 182px 207px #FFF, 1073px 552px #FFF, 1189px 1483px #FFF, 531px 396px #FFF, 1022px 1908px #FFF, 1337px 1555px #FFF, 1557px 1976px #FFF, 558px 1627px #FFF, 1165px 1872px #FFF, 740px 460px #FFF, 1058px 1485px #FFF, 142px 694px #FFF, 256px 1168px #FFF, 392px 1778px #FFF, 584px 1029px #FFF, 309px 10px #FFF, 1394px 1602px #FFF, 742px 678px #FFF, 1626px 1412px #FFF, 728px 320px #FFF, 916px 1196px #FFF, 1961px 436px #FFF, 234px 644px #FFF, 1341px 1048px #FFF, 1494px 1929px #FFF, 1683px 230px #FFF, 1856px 1574px #FFF, 851px 114px #FFF, 1740px 1331px #FFF, 1539px 1260px #FFF, 1256px 608px #FFF, 1490px 93px #FFF, 36px 1768px #FFF, 153px 1453px #FFF, 397px 864px #FFF, 1414px 860px #FFF, 1323px 1501px #FFF, 376px 251px #FFF, 249px 1347px #FFF, 1478px 433px #FFF, 1915px 625px #FFF, 843px 817px #FFF, 662px 1135px #FFF, 1864px 464px #FFF, 1839px 750px #FFF, 484px 1513px #FFF, 138px 1400px #FFF, 125px 882px #FFF, 945px 1872px #FFF, 182px 1055px #FFF, 1367px 1977px #FFF, 1513px 1464px #FFF, 712px 959px #FFF, 229px 1514px #FFF, 25px 474px #FFF, 1283px 1681px #FFF, 481px 1934px #FFF, 2px 1828px #FFF, 1753px 997px #FFF, 485px 725px #FFF, 1298px 207px #FFF, 1641px 1564px #FFF, 832px 1475px #FFF, 738px 480px #FFF, 716px 67px #FFF, 1484px 225px #FFF, 1230px 1320px #FFF, 500px 1763px #FFF, 188px 304px #FFF, 928px 34px #FFF, 926px 776px #FFF, 587px 294px #FFF, 40px 1440px #FFF, 1309px 209px #FFF, 504px 111px #FFF, 980px 1024px #FFF, 1300px 1506px #FFF, 390px 1518px #FFF, 1391px 826px #FFF, 1474px 1601px #FFF, 206px 1483px #FFF, 657px 497px #FFF, 1474px 1095px #FFF, 41px 1312px #FFF, 531px 1841px #FFF, 809px 597px #FFF, 974px 140px #FFF, 242px 55px #FFF, 800px 754px #FFF, 562px 597px #FFF, 1201px 1676px #FFF, 1550px 444px #FFF, 721px 1857px #FFF, 694px 821px #FFF, 1906px 1037px #FFF, 55px 261px #FFF, 871px 1901px #FFF, 1837px 1068px #FFF, 1706px 653px #FFF, 350px 913px #FFF, 714px 1003px #FFF, 64px 1095px #FFF, 778px 812px #FFF, 209px 774px #FFF, 652px 1433px #FFF, 1205px 828px #FFF, 811px 1256px #FFF, 373px 1352px #FFF, 1007px 32px #FFF, 161px 183px #FFF, 118px 1983px #FFF, 773px 799px #FFF, 1508px 1495px #FFF, 1590px 1285px #FFF, 384px 90px #FFF, 1298px 1383px #FFF, 446px 808px #FFF, 1377px 1105px #FFF, 1748px 1635px #FFF, 1289px 1700px #FFF, 549px 222px #FFF, 173px 235px #FFF, 1774px 1192px #FFF, 141px 869px #FFF, 1608px 1433px #FFF, 769px 1201px #FFF, 1614px 333px #FFF, 102px 1207px #FFF, 1909px 1573px #FFF, 321px 779px #FFF, 1207px 1830px #FFF, 852px 1898px #FFF, 73px 1580px #FFF, 1862px 1284px #FFF, 1459px 868px #FFF, 1449px 1823px #FFF, 1449px 113px #FFF, 852px 1838px #FFF, 973px 803px #FFF, 326px 1899px #FFF, 1036px 1637px #FFF, 1049px 592px #FFF, 1194px 697px #FFF, 1441px 792px #FFF, 1382px 688px #FFF, 540px 240px #FFF, 1968px 1513px #FFF, 379px 1181px #FFF, 103px 841px #FFF, 1103px 39px #FFF, 740px 1506px #FFF, 646px 1172px #FFF, 21px 1605px #FFF, 1447px 1982px #FFF, 1492px 1252px #FFF, 1814px 618px #FFF, 362px 770px #FFF, 1904px 134px #FFF, 1083px 640px #FFF, 1839px 1586px #FFF, 1220px 540px #FFF, 1144px 699px #FFF, 1942px 547px #FFF, 1726px 749px #FFF, 1921px 122px #FFF, 1933px 42px #FFF, 312px 20px #FFF, 549px 1757px #FFF, 1455px 203px #FFF, 1340px 310px #FFF, 1598px 1385px #FFF, 1177px 245px #FFF, 1568px 1730px #FFF, 1069px 1555px #FFF, 1576px 1691px #FFF, 1924px 320px #FFF, 1533px 1783px #FFF, 623px 1979px #FFF, 1857px 760px #FFF, 1615px 923px #FFF, 1848px 1321px #FFF, 1112px 1661px #FFF, 978px 1354px #FFF, 309px 1616px #FFF, 1789px 1003px #FFF, 1233px 838px #FFF, 1471px 1541px #FFF, 337px 1497px #FFF, 19px 1278px #FFF, 1777px 79px #FFF, 1952px 718px #FFF, 1650px 4px #FFF, 1681px 1130px #FFF, 970px 1406px #FFF, 1686px 1300px #FFF, 433px 310px #FFF, 433px 479px #FFF, 1476px 1220px #FFF, 898px 171px #FFF, 725px 812px #FFF, 1442px 1041px #FFF, 108px 930px #FFF, 1991px 1593px #FFF, 1206px 47px #FFF, 794px 206px #FFF, 584px 418px #FFF, 565px 397px #FFF, 73px 695px #FFF, 331px 1215px #FFF, 1545px 139px #FFF, 135px 1199px #FFF, 1519px 405px #FFF, 262px 1194px #FFF, 1623px 1903px #FFF, 557px 1964px #FFF, 638px 601px #FFF, 1861px 221px #FFF, 144px 1203px #FFF, 911px 765px #FFF, 816px 973px #FFF, 203px 1070px #FFF, 49px 1264px #FFF, 387px 1299px #FFF, 1349px 436px #FFF, 1999px 1799px #FFF, 1158px 1633px #FFF, 509px 429px #FFF, 1013px 1934px #FFF, 277px 681px #FFF, 424px 745px #FFF, 50px 796px #FFF, 1696px 1190px #FFF, 1084px 239px #FFF, 394px 319px #FFF, 1250px 1706px #FFF, 382px 403px #FFF, 1052px 1721px #FFF, 1115px 915px #FFF, 339px 117px #FFF, 1161px 495px #FFF, 361px 460px #FFF, 536px 1493px #FFF, 1364px 386px #FFF, 1024px 768px #FFF, 274px 1352px #FFF, 67px 1880px #FFF, 1525px 413px #FFF, 263px 346px #FFF, 1246px 1175px #FFF, 795px 716px #FFF, 781px 1067px #FFF, 1485px 1136px #FFF, 1209px 1970px #FFF, 552px 873px #FFF, 332px 686px #FFF, 557px 282px #FFF, 1686px 733px #FFF, 936px 1129px #FFF, 745px 684px #FFF, 774px 1270px #FFF, 1452px 1997px #FFF, 1198px 1085px #FFF, 1382px 976px #FFF, 722px 1769px #FFF, 752px 1651px #FFF, 827px 1885px #FFF, 725px 349px #FFF, 247px 206px #FFF, 980px 1728px #FFF, 287px 1281px #FFF, 444px 1019px #FFF, 1123px 501px #FFF, 956px 878px #FFF, 577px 1485px #FFF, 1160px 784px #FFF, 272px 1951px #FFF, 1179px 111px #FFF, 1799px 1019px #FFF, 628px 127px #FFF, 468px 534px #FFF, 1696px 1297px #FFF, 681px 1197px #FFF, 1341px 124px #FFF, 765px 1727px #FFF, 977px 896px #FFF, 810px 83px #FFF, 1068px 1792px #FFF, 1962px 716px #FFF, 756px 1558px #FFF, 1798px 247px #FFF, 1218px 128px #FFF, 406px 335px #FFF, 1379px 714px #FFF, 1291px 900px #FFF, 234px 1936px #FFF, 1439px 340px #FFF, 1837px 1374px #FFF, 852px 15px #FFF, 592px 1272px #FFF, 1342px 116px #FFF, 1133px 1378px #FFF, 1993px 1239px #FFF, 1153px 1891px #FFF, 1430px 1874px #FFF, 1223px 1089px #FFF, 391px 1448px #FFF, 1238px 1641px #FFF, 1878px 1251px #FFF, 1656px 1168px #FFF, 871px 939px #FFF, 493px 944px #FFF, 479px 500px #FFF, 321px 1219px #FFF, 656px 851px #FFF, 585px 1036px #FFF, 1882px 816px #FFF, 1074px 666px #FFF, 919px 947px #FFF, 180px 1663px #FFF, 183px 1927px #FFF, 722px 640px #FFF, 688px 227px #FFF, 1323px 1213px #FFF, 133px 1626px #FFF, 1068px 408px #FFF, 1426px 157px #FFF, 280px 396px #FFF, 1758px 1570px #FFF, 1163px 1387px #FFF, 401px 871px #FFF, 1327px 1909px #FFF, 1182px 499px #FFF, 151px 523px #FFF, 621px 857px #FFF, 1348px 1832px #FFF, 162px 1978px #FFF, 1430px 311px #FFF, 1164px 175px #FFF, 1405px 506px #FFF, 1989px 1946px #FFF, 881px 1707px #FFF, 291px 1775px #FFF, 382px 1814px #FFF, 657px 432px #FFF, 405px 1549px #FFF, 1742px 994px #FFF, 1479px 637px #FFF, 1717px 305px #FFF, 1009px 1184px #FFF, 1476px 322px #FFF, 920px 710px #FFF, 1641px 1016px #FFF, 1348px 1921px #FFF, 762px 1083px #FFF, 558px 1613px #FFF, 615px 1656px #FFF, 1778px 1321px #FFF, 1837px 1321px #FFF, 563px 812px #FFF, 86px 276px #FFF, 349px 970px #FFF, 825px 578px #FFF, 849px 1370px #FFF, 107px 794px #FFF, 831px 1158px #FFF, 1378px 447px #FFF, 1422px 123px #FFF, 1397px 154px #FFF, 333px 1401px #FFF, 1532px 153px #FFF, 1221px 291px #FFF, 290px 1115px #FFF, 1111px 1426px #FFF, 1166px 51px #FFF, 998px 782px #FFF, 2000px 547px #FFF, 184px 500px #FFF, 1270px 1342px #FFF, 1161px 780px #FFF, 101px 990px #FFF, 363px 303px #FFF, 1501px 902px #FFF, 435px 314px #FFF, 1894px 1637px #FFF, 897px 1427px #FFF, 968px 1464px #FFF, 174px 748px #FFF, 753px 1305px #FFF, 1100px 1291px #FFF, 1074px 805px #FFF, 794px 80px #FFF, 1179px 853px #FFF, 1038px 1771px #FFF, 232px 68px #FFF, 1317px 803px #FFF;
}
#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1780px 1980px #FFF, 96px 949px #FFF, 571px 1377px #FFF, 638px 1975px #FFF, 298px 768px #FFF, 1700px 1635px #FFF, 1590px 1882px #FFF, 858px 886px #FFF, 306px 1869px #FFF, 650px 759px #FFF, 312px 1793px #FFF, 1734px 1831px #FFF, 1789px 543px #FFF, 1202px 1071px #FFF, 680px 136px #FFF, 571px 739px #FFF, 1558px 133px #FFF, 1367px 1139px #FFF, 382px 1482px #FFF, 1081px 1336px #FFF, 1949px 1579px #FFF, 703px 1024px #FFF, 769px 168px #FFF, 509px 1981px #FFF, 1736px 310px #FFF, 493px 228px #FFF, 1678px 1313px #FFF, 682px 316px #FFF, 377px 1743px #FFF, 1575px 380px #FFF, 289px 458px #FFF, 161px 780px #FFF, 864px 405px #FFF, 841px 1656px #FFF, 1371px 1717px #FFF, 868px 1386px #FFF, 134px 1772px #FFF, 359px 1511px #FFF, 500px 1640px #FFF, 911px 1px #FFF, 233px 128px #FFF, 1769px 447px #FFF, 1895px 962px #FFF, 606px 112px #FFF, 1178px 1578px #FFF, 518px 1998px #FFF, 1804px 1236px #FFF, 676px 1708px #FFF, 1066px 1709px #FFF, 435px 1075px #FFF, 1906px 567px #FFF, 222px 416px #FFF, 363px 1708px #FFF, 1975px 1577px #FFF, 1910px 446px #FFF, 1791px 335px #FFF, 1147px 1280px #FFF, 1601px 1607px #FFF, 1554px 685px #FFF, 1608px 1139px #FFF, 371px 679px #FFF, 1329px 108px #FFF, 1483px 1569px #FFF, 243px 112px #FFF, 1786px 51px #FFF, 1083px 539px #FFF, 916px 1129px #FFF, 1508px 334px #FFF, 13px 1520px #FFF, 1276px 1877px #FFF, 852px 46px #FFF, 1231px 1575px #FFF, 487px 1646px #FFF, 764px 1821px #FFF, 723px 39px #FFF, 483px 904px #FFF, 1498px 1010px #FFF, 214px 1092px #FFF, 1452px 1858px #FFF, 706px 737px #FFF, 81px 1141px #FFF, 86px 1358px #FFF, 1805px 1628px #FFF, 1837px 527px #FFF, 1606px 31px #FFF, 385px 459px #FFF, 97px 1124px #FFF, 886px 95px #FFF, 168px 1316px #FFF, 260px 1135px #FFF, 1450px 762px #FFF, 1849px 1334px #FFF, 1146px 974px #FFF, 1388px 844px #FFF, 1437px 65px #FFF, 1199px 1588px #FFF, 28px 140px #FFF, 1170px 1100px #FFF, 341px 1135px #FFF, 1264px 1149px #FFF, 849px 1254px #FFF, 1576px 494px #FFF, 834px 46px #FFF, 202px 1563px #FFF, 1863px 863px #FFF, 208px 1462px #FFF, 1939px 808px #FFF, 768px 775px #FFF, 1989px 383px #FFF, 1832px 153px #FFF, 890px 1891px #FFF, 1165px 706px #FFF, 1095px 1982px #FFF, 1075px 1863px #FFF, 801px 1167px #FFF, 904px 693px #FFF, 540px 391px #FFF, 254px 611px #FFF, 74px 1908px #FFF, 391px 1839px #FFF, 1429px 899px #FFF, 695px 752px #FFF, 82px 838px #FFF, 1313px 500px #FFF, 655px 908px #FFF, 158px 197px #FFF, 1777px 981px #FFF, 1851px 849px #FFF, 1136px 1172px #FFF, 717px 1724px #FFF, 1228px 580px #FFF, 155px 1810px #FFF, 345px 1197px #FFF, 1634px 1714px #FFF, 1223px 74px #FFF, 323px 1862px #FFF, 1924px 359px #FFF, 45px 863px #FFF, 1571px 762px #FFF, 1251px 689px #FFF, 277px 524px #FFF, 1533px 1295px #FFF, 1265px 1654px #FFF, 59px 101px #FFF, 914px 258px #FFF, 357px 1959px #FFF, 44px 523px #FFF, 991px 134px #FFF, 1440px 1797px #FFF, 1217px 1478px #FFF, 1432px 726px #FFF, 1121px 698px #FFF, 940px 1546px #FFF, 938px 853px #FFF, 352px 341px #FFF, 1411px 1995px #FFF, 1384px 976px #FFF, 900px 745px #FFF, 721px 1614px #FFF, 1441px 1190px #FFF, 1408px 690px #FFF, 908px 1164px #FFF, 696px 1528px #FFF, 1377px 663px #FFF, 1245px 1778px #FFF, 69px 1774px #FFF, 962px 68px #FFF, 316px 19px #FFF, 1818px 1413px #FFF, 446px 1442px #FFF, 1199px 1218px #FFF, 1387px 1953px #FFF, 672px 716px #FFF, 302px 1295px #FFF, 1725px 1123px #FFF, 1953px 1550px #FFF, 1843px 1271px #FFF, 664px 1449px #FFF, 65px 1126px #FFF, 1015px 1909px #FFF, 1036px 1065px #FFF, 3px 1689px #FFF, 722px 356px #FFF, 89px 302px #FFF, 677px 1506px #FFF, 753px 1066px #FFF, 6px 238px #FFF, 231px 1521px #FFF, 162px 1668px #FFF, 118px 1768px #FFF, 994px 1273px #FFF, 272px 1381px #FFF, 342px 1853px #FFF, 260px 816px #FFF, 1356px 480px #FFF, 177px 40px #FFF, 1644px 690px #FFF, 634px 1889px #FFF, 673px 139px #FFF, 1571px 1425px #FFF;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1780px 1980px #FFF, 96px 949px #FFF, 571px 1377px #FFF, 638px 1975px #FFF, 298px 768px #FFF, 1700px 1635px #FFF, 1590px 1882px #FFF, 858px 886px #FFF, 306px 1869px #FFF, 650px 759px #FFF, 312px 1793px #FFF, 1734px 1831px #FFF, 1789px 543px #FFF, 1202px 1071px #FFF, 680px 136px #FFF, 571px 739px #FFF, 1558px 133px #FFF, 1367px 1139px #FFF, 382px 1482px #FFF, 1081px 1336px #FFF, 1949px 1579px #FFF, 703px 1024px #FFF, 769px 168px #FFF, 509px 1981px #FFF, 1736px 310px #FFF, 493px 228px #FFF, 1678px 1313px #FFF, 682px 316px #FFF, 377px 1743px #FFF, 1575px 380px #FFF, 289px 458px #FFF, 161px 780px #FFF, 864px 405px #FFF, 841px 1656px #FFF, 1371px 1717px #FFF, 868px 1386px #FFF, 134px 1772px #FFF, 359px 1511px #FFF, 500px 1640px #FFF, 911px 1px #FFF, 233px 128px #FFF, 1769px 447px #FFF, 1895px 962px #FFF, 606px 112px #FFF, 1178px 1578px #FFF, 518px 1998px #FFF, 1804px 1236px #FFF, 676px 1708px #FFF, 1066px 1709px #FFF, 435px 1075px #FFF, 1906px 567px #FFF, 222px 416px #FFF, 363px 1708px #FFF, 1975px 1577px #FFF, 1910px 446px #FFF, 1791px 335px #FFF, 1147px 1280px #FFF, 1601px 1607px #FFF, 1554px 685px #FFF, 1608px 1139px #FFF, 371px 679px #FFF, 1329px 108px #FFF, 1483px 1569px #FFF, 243px 112px #FFF, 1786px 51px #FFF, 1083px 539px #FFF, 916px 1129px #FFF, 1508px 334px #FFF, 13px 1520px #FFF, 1276px 1877px #FFF, 852px 46px #FFF, 1231px 1575px #FFF, 487px 1646px #FFF, 764px 1821px #FFF, 723px 39px #FFF, 483px 904px #FFF, 1498px 1010px #FFF, 214px 1092px #FFF, 1452px 1858px #FFF, 706px 737px #FFF, 81px 1141px #FFF, 86px 1358px #FFF, 1805px 1628px #FFF, 1837px 527px #FFF, 1606px 31px #FFF, 385px 459px #FFF, 97px 1124px #FFF, 886px 95px #FFF, 168px 1316px #FFF, 260px 1135px #FFF, 1450px 762px #FFF, 1849px 1334px #FFF, 1146px 974px #FFF, 1388px 844px #FFF, 1437px 65px #FFF, 1199px 1588px #FFF, 28px 140px #FFF, 1170px 1100px #FFF, 341px 1135px #FFF, 1264px 1149px #FFF, 849px 1254px #FFF, 1576px 494px #FFF, 834px 46px #FFF, 202px 1563px #FFF, 1863px 863px #FFF, 208px 1462px #FFF, 1939px 808px #FFF, 768px 775px #FFF, 1989px 383px #FFF, 1832px 153px #FFF, 890px 1891px #FFF, 1165px 706px #FFF, 1095px 1982px #FFF, 1075px 1863px #FFF, 801px 1167px #FFF, 904px 693px #FFF, 540px 391px #FFF, 254px 611px #FFF, 74px 1908px #FFF, 391px 1839px #FFF, 1429px 899px #FFF, 695px 752px #FFF, 82px 838px #FFF, 1313px 500px #FFF, 655px 908px #FFF, 158px 197px #FFF, 1777px 981px #FFF, 1851px 849px #FFF, 1136px 1172px #FFF, 717px 1724px #FFF, 1228px 580px #FFF, 155px 1810px #FFF, 345px 1197px #FFF, 1634px 1714px #FFF, 1223px 74px #FFF, 323px 1862px #FFF, 1924px 359px #FFF, 45px 863px #FFF, 1571px 762px #FFF, 1251px 689px #FFF, 277px 524px #FFF, 1533px 1295px #FFF, 1265px 1654px #FFF, 59px 101px #FFF, 914px 258px #FFF, 357px 1959px #FFF, 44px 523px #FFF, 991px 134px #FFF, 1440px 1797px #FFF, 1217px 1478px #FFF, 1432px 726px #FFF, 1121px 698px #FFF, 940px 1546px #FFF, 938px 853px #FFF, 352px 341px #FFF, 1411px 1995px #FFF, 1384px 976px #FFF, 900px 745px #FFF, 721px 1614px #FFF, 1441px 1190px #FFF, 1408px 690px #FFF, 908px 1164px #FFF, 696px 1528px #FFF, 1377px 663px #FFF, 1245px 1778px #FFF, 69px 1774px #FFF, 962px 68px #FFF, 316px 19px #FFF, 1818px 1413px #FFF, 446px 1442px #FFF, 1199px 1218px #FFF, 1387px 1953px #FFF, 672px 716px #FFF, 302px 1295px #FFF, 1725px 1123px #FFF, 1953px 1550px #FFF, 1843px 1271px #FFF, 664px 1449px #FFF, 65px 1126px #FFF, 1015px 1909px #FFF, 1036px 1065px #FFF, 3px 1689px #FFF, 722px 356px #FFF, 89px 302px #FFF, 677px 1506px #FFF, 753px 1066px #FFF, 6px 238px #FFF, 231px 1521px #FFF, 162px 1668px #FFF, 118px 1768px #FFF, 994px 1273px #FFF, 272px 1381px #FFF, 342px 1853px #FFF, 260px 816px #FFF, 1356px 480px #FFF, 177px 40px #FFF, 1644px 690px #FFF, 634px 1889px #FFF, 673px 139px #FFF, 1571px 1425px #FFF;
}
#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 899px 604px #FFF, 936px 524px #FFF, 1098px 406px #FFF, 1002px 291px #FFF, 147px 1435px #FFF, 938px 1421px #FFF, 1414px 687px #FFF, 579px 1861px #FFF, 146px 694px #FFF, 332px 105px #FFF, 1415px 1188px #FFF, 109px 1491px #FFF, 1788px 1812px #FFF, 1778px 151px #FFF, 1804px 763px #FFF, 192px 1389px #FFF, 1684px 1987px #FFF, 716px 1561px #FFF, 480px 1011px #FFF, 1152px 413px #FFF, 927px 1222px #FFF, 836px 13px #FFF, 91px 135px #FFF, 1705px 1358px #FFF, 1384px 310px #FFF, 1311px 644px #FFF, 1950px 924px #FFF, 786px 140px #FFF, 326px 1510px #FFF, 1134px 975px #FFF, 1638px 643px #FFF, 868px 1729px #FFF, 1215px 1192px #FFF, 863px 799px #FFF, 1320px 1397px #FFF, 825px 1262px #FFF, 828px 912px #FFF, 510px 1630px #FFF, 1788px 162px #FFF, 391px 1418px #FFF, 1243px 1658px #FFF, 175px 1531px #FFF, 670px 1737px #FFF, 243px 274px #FFF, 1408px 1484px #FFF, 1862px 1839px #FFF, 1991px 744px #FFF, 1063px 104px #FFF, 54px 1514px #FFF, 526px 1594px #FFF, 956px 715px #FFF, 1947px 400px #FFF, 44px 1576px #FFF, 232px 1847px #FFF, 1649px 1006px #FFF, 8px 322px #FFF, 1551px 916px #FFF, 1749px 1740px #FFF, 1881px 1169px #FFF, 1248px 476px #FFF, 628px 1341px #FFF, 1702px 1079px #FFF, 490px 1493px #FFF, 936px 7px #FFF, 1949px 121px #FFF, 1776px 360px #FFF, 1043px 1809px #FFF, 411px 969px #FFF, 597px 801px #FFF, 1626px 1362px #FFF, 1986px 1067px #FFF, 1837px 510px #FFF, 304px 209px #FFF, 1317px 845px #FFF, 1772px 1322px #FFF, 1333px 1041px #FFF, 157px 1894px #FFF, 1862px 1333px #FFF, 1790px 1157px #FFF, 308px 1284px #FFF, 1334px 1805px #FFF, 585px 738px #FFF, 1613px 395px #FFF, 1217px 107px #FFF, 903px 862px #FFF, 289px 774px #FFF, 1425px 1033px #FFF, 1683px 1182px #FFF, 1224px 308px #FFF, 943px 1456px #FFF, 82px 99px #FFF, 784px 270px #FFF, 809px 1463px #FFF, 1953px 377px #FFF, 1507px 882px #FFF, 1885px 1435px #FFF, 1817px 637px #FFF, 1116px 1053px #FFF, 544px 527px #FFF, 1948px 140px #FFF;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 899px 604px #FFF, 936px 524px #FFF, 1098px 406px #FFF, 1002px 291px #FFF, 147px 1435px #FFF, 938px 1421px #FFF, 1414px 687px #FFF, 579px 1861px #FFF, 146px 694px #FFF, 332px 105px #FFF, 1415px 1188px #FFF, 109px 1491px #FFF, 1788px 1812px #FFF, 1778px 151px #FFF, 1804px 763px #FFF, 192px 1389px #FFF, 1684px 1987px #FFF, 716px 1561px #FFF, 480px 1011px #FFF, 1152px 413px #FFF, 927px 1222px #FFF, 836px 13px #FFF, 91px 135px #FFF, 1705px 1358px #FFF, 1384px 310px #FFF, 1311px 644px #FFF, 1950px 924px #FFF, 786px 140px #FFF, 326px 1510px #FFF, 1134px 975px #FFF, 1638px 643px #FFF, 868px 1729px #FFF, 1215px 1192px #FFF, 863px 799px #FFF, 1320px 1397px #FFF, 825px 1262px #FFF, 828px 912px #FFF, 510px 1630px #FFF, 1788px 162px #FFF, 391px 1418px #FFF, 1243px 1658px #FFF, 175px 1531px #FFF, 670px 1737px #FFF, 243px 274px #FFF, 1408px 1484px #FFF, 1862px 1839px #FFF, 1991px 744px #FFF, 1063px 104px #FFF, 54px 1514px #FFF, 526px 1594px #FFF, 956px 715px #FFF, 1947px 400px #FFF, 44px 1576px #FFF, 232px 1847px #FFF, 1649px 1006px #FFF, 8px 322px #FFF, 1551px 916px #FFF, 1749px 1740px #FFF, 1881px 1169px #FFF, 1248px 476px #FFF, 628px 1341px #FFF, 1702px 1079px #FFF, 490px 1493px #FFF, 936px 7px #FFF, 1949px 121px #FFF, 1776px 360px #FFF, 1043px 1809px #FFF, 411px 969px #FFF, 597px 801px #FFF, 1626px 1362px #FFF, 1986px 1067px #FFF, 1837px 510px #FFF, 304px 209px #FFF, 1317px 845px #FFF, 1772px 1322px #FFF, 1333px 1041px #FFF, 157px 1894px #FFF, 1862px 1333px #FFF, 1790px 1157px #FFF, 308px 1284px #FFF, 1334px 1805px #FFF, 585px 738px #FFF, 1613px 395px #FFF, 1217px 107px #FFF, 903px 862px #FFF, 289px 774px #FFF, 1425px 1033px #FFF, 1683px 1182px #FFF, 1224px 308px #FFF, 943px 1456px #FFF, 82px 99px #FFF, 784px 270px #FFF, 809px 1463px #FFF, 1953px 377px #FFF, 1507px 882px #FFF, 1885px 1435px #FFF, 1817px 637px #FFF, 1116px 1053px #FFF, 544px 527px #FFF, 1948px 140px #FFF;
}
#title {
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  color: #c64fbd;
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px;
}
#title h1 {
  margin: 0;
  font-size: 70px;
  background: #c64fbd;
  -webkit-background-clip: text;
  fill: transparent;
}
#title a div {
  padding: 0 2%;
  margin: 2% auto;
  width: 30%;
  overflow: auto;
  border: white solid 2px;
  transition-duration: 0.5s;
}
#title a div:hover {
  background-color: white;
  transition-duration: 0.5s;
}
#title a div:hover p {
  transition-duration: 0.5s;
  color: black;
}
#title a img {
  width: 75px;
  height: 75px;
  float: left;
}
#title a p {
  color: white;
  float: right;
  transition-duration: 0.5s;
}
@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
.gg-more-vertical-r {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 20px;
  height: 24px;
  border: 2px solid;
  border-radius: 3px;
  color: white;
}
.gg-more-vertical-r::before {
  content: "";
  position: absolute;
  box-sizing: border-box;
  display: block;
  width: 4px;
  height: 4px;
  background-color: white;
  border-radius: 20px;
  top: 8px;
  left: 6px;
  box-shadow: 0 -5px 0, 0 5px 0;
}
#plugin-page {
  color: white;
}
#plugin-page h1 {
  color: #55FFFF;
}
#plugin-page code {
  display: inline-block;
  background-color: black;
  padding: 0.2em 0.5em;
}
#plugin-page a {
  color: lawngreen;
}
#plugin-page a:hover {
  color: greenyellow;
}
html {
  font-family: "Courier New", monospace;
  font-weight: bold;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%) fixed;
  height: 100%;
  margin: 0 10%;
}
.title {
  margin: 0;
  font-size: 70px;
  color: #c64fbd;
  font-weight: bold;
  letter-spacing: 10px;
}
ul {
  list-style-type: none;
  padding: 0;
}
a {
  text-decoration: none;
}
.no-transition-on-load * {
  transition: none !important;
}
@media all and (min-width: 960px) {
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }
  ::-webkit-scrollbar {
    width: 12px;
    background-color: #292929;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #555;
  }
}
