@import "resource-pack-models";
@import "pack";
@import "header";
@import "index";
@import "verticle-alt";
@import "colors";

html {
  font-family: "Courier New", monospace;
  font-weight: bold;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%) fixed;
  height: 100%;
  margin: 0 10%;
}

.title {
  margin: 0;
  font-size: 70px;
  color: @primary-color;
  font-weight: bold;
  letter-spacing: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
}

.no-transition-on-load * {
  transition: none !important;
}